<div class="mx-1 py-1 px-1 border rounded-lg flex flex-col mb-2 shadow-lg" style="background-color: #f9f9f9">
  <!--<img label="img" class="rounded-lg shadow-md max-h-64" [src]="product.image" [alt]="product.description">-->
  <img label="img" class="rounded-lg shadow-md max-h-64" src="https://sun9-75.userapi.com/impg/PY2TW-bC4kfG0neCZfV2dCMZ3cP1OnDEQJ6ISQ/fIvDvmAr2Ks.jpg?size=739x493&quality=95&sign=d94f999535cb454dc4587385acf9a47d&type=album" [alt]="product.description">
  <h2 class="text-lg font-medium">{{product.title.substring(0, 30)}}</h2>
  <div class="flex flex-row  justify-between">
    <span class="text-base font-normal pt-1 al">{{ product.price | currency:"RUB":"symbol"}}</span>
    <span class="text-base font-normal py-1">{{ product.price / 2 }} г.</span>
  </div>

  <button label="button" class="bg-white border border-white rounded-lg shadow-md my-1">Добавить</button>
</div>
